{% extends 'backend/main.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'backend/img/1.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'backend/img/2.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'backend/img/3.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>


<div class="container">
    
    <div class="section">
        <div class="row mt-4">
            <div class="col-md-6 m-text-container">
                <h2 class="mission-title">VISSION</h2>
                <p class="mission-text">
                    <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p><br />
                <p class="mission-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p><br />
                <p class="mission-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p>
            </div>

            <div class="col-md-6 m-text-container">
                <h2 class="mission-title">MISSION</h2>
                <p class="mission-text">
                    <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p><br />
                <p class="mission-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p><br />
                <p class="mission-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p>
            </div>


            
        </div>
    </div>

    <div class="section">

        <div class="row mt-4">

            <div class="col-md-6 m-text-container">
                <img id="papa-img" class="ml-4" src="{% static 'backend/img/papa.png' %}" alt="">
                <p class="mission-text apostle-name">Apostle Gabrel Clement</p>
            </div>

            <div class="col-md-6 m-text-container">
                <h2 class="mission-title">MESSAGE FROM PAPA</h2>
                <p class="mission-text">
                    <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p><br />
                <p class="mission-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p><br />
                <p class="mission-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Voluptatum, delectus mollitia? 
                    Ullam sed magni assumenda quam et, 
                    vitae id voluptas consequatur eius, neque officiis, 
                    totam cupiditate consectetur provident obcaecati voluptate.
                </p>
            </div>

        </div>
    </div>

</div>
<!-- 
<div class="member-pop">
    <div class="form-container">
        <div id="success">
            <h2>Registration Complete</h2>
            <p>You are welcome to Omega family. 😊 </p>
            <div class="success">
                <img src="{% static 'backend/img/check2.png' %}" alt="">
            </div>
        </div>
        <div id="register">
            <h2>Omage member</h2>
            <p>Inkjshda kajshda akjshdka dakjshdkjasd aksjdhakjhsdja skdjha</p>
            <form method="POST">
                {% csrf_token %}
                <input type="text" id="fullname" name="fullname" placeholder="Full name">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="date" id="dob" name="dob" placeholder="Date of birth">
                <input type="text" id="address" name="address" placeholder="Address">
                <input type="tel" id="phone" name="phone" placeholder="Phone number">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div> -->

{% endblock content %}