{% extends 'backend/main.html' %}

{% load static %}

{% block content %}

<div class="slider-container">
    <div class="image-container">
        <i id="prev-btn" class="fa fa-angle-double-left control-btn" aria-hidden="true"></i>
        <img class="slide-img active"  src="{% static 'backend/img/img1.jpg' %}" />
        <img class="slide-img"  src="{% static 'backend/img/img2.jpg' %}" />
        <img class="slide-img"  src="{% static 'backend/img/img3.jpg' %}" />
        <i id="next-btn" class="fa fa-angle-double-right control-btn" aria-hidden="true"></i>
    </div>   
</div>

<section>
    <div>
        <h2>Content</h2>
    </div>

    <div>
        <h2>Image</h2>
    </div>
</section>

{% endblock content %}