{% extends 'backend/main.html' %}

{% load static %}

{% block content %}


<div class="container-fluid">
    <div class="m-text-container about">

        <h2 class="mission-title">MESSAGES</h2>

        <p class="mission-text">
            <strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. 
            Voluptatum, delectus mollitia? 
            Ullam sed magni assumenda quam et, 
            vitae id voluptas consequatur eius, neque officiis, 
            totam cupiditate consectetur provident obcaecati voluptate.
        </p><br />
        <p class="mission-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Voluptatum, delectus mollitia? 
            Ullam sed magni assumenda quam et, 
            vitae id voluptas consequatur eius, neque officiis, 
            totam cupiditate consectetur provident obcaecati voluptate.
        </p><br /><br /><br />
        <!-- <hr /> -->

        <div class="tab-panel">

            <ul class="tabs">
                <li data-id="video" class="active-tab">Videos</li>
                <li data-id="audio">Audios</li>
            </ul>

            <br /><br />

            <div id="video" class="panel active-panel row">
                <iframe class="col-md-6" width="560" height="315" 
                    src="https://www.youtube.com/embed/Y9XE39bAsUA" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                </iframe>
                <h3 class="col-md-12">FOUR SIGNS THAT YOU HAVE ENCOUNTERED GOD - APOSTLE CLEMENT GABRIEL</h3>
            </div>
            <div id="audio" class="panel row">
                <div class="col-sm-12 row">
                    <h3 class="col-sm-12">FOUR SIGNS THAT YOU HAVE </h3>
                    <audio class="col-sm-12" controls>
                        <source src="horse.ogg" type="audio/ogg">
                        <source src="horse.mp3" type="audio/mpeg">
                      Your browser does not support the audio element.
                      </audio>
                </div>
                <hr />
            </div>
        </div>
        
    </div>

</div>

{% endblock content %}